html , body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    padding: 0 30px;
}

h2{
    color: brown;
}

.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    font-size: 1.3rem;
    font-weight: bold;
}
textarea{
 width: 70%;
}
input, select, button{
    padding: 8px;
    margin: 10px 0;
}

button, select{
    cursor: pointer;
}